.footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

span.banner-green {
    color: green;
}

div.map-container {
    border: 1px black solid;
}

div#mainpage-search {
    background-image: url("skyline.jpg");  
    background-position:center;
    padding-top: 100px;
}

div.mainpage-list a:hover{
    color: rgb(35, 82, 200);
}

#signin{
    width:400px;
    margin-top: 50px;
}

/*signup page*/
.form .form-control { margin-bottom: 10px; }

/*signsucess page*/
#welcome{
    margin-top: 200px;
}

/*report page*/
#report_description{
    width: 500px !important;
    height: 500px;
}

/*willis page*/
#willis_image{
    height: 180px;
    width: 100%;
}

div.willis-frame {
    border: solid black 1px;
    height: 450px;
    padding: 0 0 0 0;
    margin-left: 10px;
    margin-right: 10px;
}
#willis_left{
    margin-left: 10px;
}

div.willis_right{
    border: solid black 1px;
    padding-bottom: 12px;
}

#willis_right_last{
    border: solid black 1px;
    padding-bottom: 11px;
}

nav.navbar {
    margin-bottom: 0;
}