.footer {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

span.banner-green {
    color: green;
}

div.map-container {
    border: 1px black solid;
}

div#mainpage-search {
    background-image: url("skyline.jpg");  
    background-position:center;
    padding-top: 100px;
}

div.mainpage-list a:hover{
    color: rgb(35, 82, 200);
}